<!DOCTYPE html>
<html class="notranslate" lang="en" translate="no" xmlns:th="http://www.thymeleaf.org">
<div th:insert="layout :: header"></div>
<body class="alt-menu sidebar-noneoverflow">
<!-- BEGIN LOADER -->
<div id="load_screen">
    <div class="loader">
        <div class="loader-content">
            <div class="spinner-grow align-self-center"></div>
        </div>
    </div>
</div>
<!--  END LOADER -->

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <div th:insert="layout :: topbar"></div>

    <!--  BEGIN CONTENT PART  -->
    <div class="main-content" id="content">
        <div class="layout-px-spacing">
            <br><br>
            <div id="tableHover">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <br>
                                <h4> <a onclick="navInstitutions()" style="cursor: pointer;">Institution : </a> <small th:text="${inst.inst_name}"></small> →
                                    <a onclick="navConfigurations()" style="cursor: pointer;">Configuration : </a> <small th:text="${config.service.service_name}"></small> →
                                    Mappings
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover mb-4" id="inst_table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Import Field Index</th>
                                    <th>Import Field Type</th>
                                    <th>Import Field Format</th>
                                    <th>Import Field Name</th>
                                    <th>Export Field Name</th>
                                    <th>Start Index</th>
                                    <th>Last Index</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="mapping : ${mappings}">
                                    <tr>
                                        <td th:text="${mapping.id}"></td>
                                        <td th:text="${mapping.import_field_index}"></td>
                                        <td th:text="${mapping.import_field_type.field_type}"></td>
                                        <td th:text="${mapping.import_field_format.format}"></td>
                                        <td th:text="${mapping?.import_field?.field_name}"></td>
                                        <td th:text="${mapping.export_field_head.field_name}"></td>
                                        <td th:text="${mapping.start_index}"></td>
                                        <td th:text="${mapping.last_index}"></td>

                                        <td>
                                            <button class="btn btn-danger"  data-row="${mapping}"
                                                    data-toggle="modal"
                                                    th:attr="data-target=${'#deleteModal'+mapping.id}">Delete
                                            </button>
                                            <button class="btn btn-primary" data-row="${mapping}"
                                                    data-toggle="modal"
                                                    th:attr="data-target=${'#editModal'+mapping.id}"
                                                    onclick="disableUpdate($(this).attr('data-mapping-id'))"
                                                    th:data-mapping-id="${mapping.id}">Update
                                            </button>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <h6>Add New Institution Configuration Mapping</h6>
            <input class="mb-4 btn btn-primary" data-target="#myModal" data-toggle="modal" name="newConfiguration"
                   type="submit" value="New Configuration Mapping">
            <br><br><br>

            <div th:insert="layout :: footer"></div>

        </div>
    </div>
    <!--  END CONTENT PART  -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-xl">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Choose Configuration Mapping Details</h4>
                </div>
                <div class="modal-body">
                    <div hidden id="configError" style="color: red;margin: 10px 10px 20px 10px;"
                         th:text="#{CONFIG_ERROR}"></div>
                    <div class="container">
                        <form>
                            <div class="form-row mb-4">

                                <div class="col-4" style="margin-top:10px;">
                                    <h5>Field Index</h5>
                                    <input class="form-control" id="import_index" placeholder="Import Field Index"
                                           type="text">
                                </div>
                                <div class="col-4" style="margin-top:10px;">
                                    <h5>Import Field Type</h5>
                                    <select class="form-control form-small" id="type" onchange="populateDropdown()">
                                        <option selected="selected">--- Import Field Type ---</option>
                                        <th:block th:each="fileFormat : ${fieldTypes}">
                                            <option th:text="${fileFormat.field_type}"
                                                    th:value="${fileFormat.id}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="col-4" style="margin-top:10px;">
                                    <h5>Import Field Format</h5>
                                    <select class="form-control form-small" id="format">
                                        <option selected="selected">--- Import Field Format ---</option>
                                    </select>
                                </div>
                                <div class="col-4" style="margin-top:10px;">
                                    <h5>Import Field Name</h5>
                                    <select class="form-control form-small" id="import">
                                        <option selected="selected" value="">--- Import Field ---</option>
                                        <th:block th:each="field : ${importFields}">
                                            <option th:text="${field.field_name}"
                                                    th:value="${field.id}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="col-4" style="margin-top:10px;">
                                    <h5>Export Field Name</h5>
                                    <select class="form-control form-small" id="export">
                                        <option selected="selected">--- Export Field ---</option>
                                        <th:block th:each="field : ${exportFields}">
                                            <option th:text="${field.field_name}"
                                                    th:value="${field.id}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="col-4" style="margin-top:10px;">
                                    <h5>Start Index</h5>
                                    <input class="form-control" id="start_index" placeholder="Start Index"
                                           type="text">
                                </div>
                                <div class="col-4" style="margin-top:10px;">
                                    <h5>Last Index</h5>
                                    <input class="form-control" id="last_index" placeholder="Last Index"
                                           type="text">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" onclick="createInstitutionConfigMapping()"
                            type="submit">Save
                    </button>
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Update Modal -->
    <div aria-hidden="true" class="modal fade" role="dialog" tabindex="-1" th:attr="id=${'editModal' + mapping.id}"
         th:each="mapping : ${mappings}">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-body"> You are about to edit mapping with id :
                        <div th:text="${mapping.id}"/>
                        <div class="container">
                            <form>
                                <div class="form-row mb-4">

                                    <div class="col-4" style="margin-top:10px;">
                                        <h5>Import Field Index</h5>
                                        <input class="form-control" th:attr="id=${'import_index_update' + mapping.id}"
                                               th:value="${mapping.import_field_index}"
                                               type="text">
                                    </div>
                                    <div class="col-4" style="margin-top:10px;">
                                        <h5>Import Field Type</h5>
                                        <select class="form-control form-small"
                                                onchange="populateUpdateDropdown($(this).attr('data-mapping-id'))"
                                                th:attr="id=${'type_update' +mapping.id}"
                                                th:data-mapping-id="${mapping.id}">
                                            <option th:selected="${mapping.import_field_type.field_type}"
                                                    th:text="${mapping.import_field_type.field_type}"
                                                    th:value="${mapping.import_field_type.id}"></option>
                                            <th:block th:each="type : ${fieldTypes}">
                                                <option th:text="${type.field_type}"
                                                        th:value="${type.id}"></option>
                                            </th:block>
                                        </select>
                                    </div>

                                    <div class="col-4" style="margin-top:10px;">
                                        <h5>Import Field Format</h5>
                                        <select class="form-control form-small"
                                                th:attr="id=${'format_update' +mapping.id}">
                                            <option th:selected="${mapping.import_field_format.format}"
                                                    th:text="${mapping.import_field_format.format}"
                                                    th:value="${mapping.import_field_format.id}"></option>
                                        </select>
                                    </div>

                                    <div class="col-4" style="margin-top:10px;">
                                        <h5>Import Field Name</h5>
                                        <select class="form-control form-small"
                                                th:attr="id=${'import_update' +mapping.id}">
                                            <option th:selected="${mapping?.import_field?.field_name}"
                                                    th:text="${mapping?.import_field?.field_name}"th:value="${mapping?.import_field?.id}"></option>
                                            <th:block th:each="field : ${importFields}">
                                                <option th:text="${field.field_name}"
                                                        th:value="${field.id}"></option>
                                            </th:block>
                                        </select>
                                    </div>

                                    <div class="col-4" style="margin-top:10px;">
                                        <h5>Export Field Name</h5>
                                        <select class="form-control form-small"
                                                th:attr="id=${'export_update' +mapping.id}">
                                            <option th:selected="${mapping.export_field_head.field_name}"
                                                    th:text="${mapping.export_field_head.field_name}"th:value="${mapping.export_field_head.id}"></option>
                                            <th:block th:each="field : ${exportFields}">
                                                <option th:text="${field.field_name}"
                                                        th:value="${field.id}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                    <div class="col-4" style="margin-top:10px;">
                                        <h5>Start Index</h5>
                                        <input class="form-control" th:attr="id=${'start_index_update' + mapping.id}"
                                               th:value="${mapping.start_index}"
                                               type="text">
                                    </div>
                                    <div class="col-4" style="margin-top:10px;">
                                        <h5>Last Index</h5>
                                        <input class="form-control" th:attr="id=${'last_index_update' + mapping.id}"
                                               th:value="${mapping.last_index}"
                                               type="text">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
                        <button class="btn btn-primary" onclick="update($(this).attr('data-mapping-id'))"
                                th:data-mapping-id="${mapping.id}" type="button">Save Changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" class="modal fade" role="alert" tabindex="-1" th:attr="id=${'deleteModal' + mapping.id}"
         th:each="mapping : ${mappings}">
        <div class="modal-dialog" role="alert">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <h5>Are you sure you want to delete ?!</h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" onclick="deleteInst($(this).attr('data-mapping-id'))"
                            th:data-mapping-id="${mapping.id}" type="button">Delete
                    </button>
                    <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- END MAIN CONTAINER -->

<div th:insert="layout :: scripts"></div>
<script th:inline="javascript">
    /*<![CDATA[*/

    var configuration = [[${config}]];

    function createInstitutionConfigMapping() {
        var queryString = window.location.href;
        const words = queryString.split('/');
        var institution = {};
        institution.configId = words[words.length - 1];
        institution.imp_field_index = $("#import_index").val();
        institution.typeId = $("#type").val();
        institution.formatId = $("#format").val();
        institution.imp_field = $("#import").val();
        institution.exp_field = $("#export").val();
        institution.start_index = $("#start_index").val();
        institution.last_index = $("#last_index").val();
        console.log(institution)
        $.ajax({
            type: 'post',
            url: '/autocops/inst-configs-mappings',
            data: jQuery.param(institution),
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success: function () {
                location.reload();
            }
        });
    }

    function update(id) {
        var queryString = window.location.href;
        const words = queryString.split('/');
        var institution = {};
        institution.configId = words[words.length - 1];
        institution.imp_field_index = $("#import_index_update" + id).val();
        institution.typeId = $("#type_update" + id).val();
        institution.formatId = $("#format_update" + id).val();
        institution.imp_field = $("#import_update" + id).val();
        institution.exp_field = $("#export_update" + id).val();
        institution.start_index = $("#start_index_update" + id).val();
        institution.last_index = $("#last_index_update" + id).val();
        $.ajax({
            type: 'put',
            url: '/autocops/inst-configs-mappings/' + id,
            data: jQuery.param(institution),
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success: function () {
                location.reload();
            }
        });
    }

    function populateDropdown() {
        var id = $("#type").val()
        var select = document.getElementById("format");
        select.options.length = 0;
        $.ajax({
            url: "/autocops/field-formats/type/" + id,
            type: 'GET',
            success: function (res) {
                var options = res;
                for (var i = 0; i < options.length; i++) {
                    var opt = options[i];
                    var el = document.createElement("option");
                    el.textContent = opt.format;
                    el.value = opt.id;
                    select.appendChild(el);
                }
            }
        });
    }

    function populateUpdateDropdown(id) {
        var select_id = $("#type_update" + id).val()
        var select = document.getElementById("format_update" + id);
        select.options.length = 0;
        $.ajax({
            url: "/autocops/field-formats/type/" + select_id,
            type: 'GET',
            success: function (res) {
                var options = res;
                for (var i = 0; i < options.length; i++) {
                    var opt = options[i];
                    var el = document.createElement("option");
                    el.textContent = opt.format;
                    el.value = opt.id;
                    select.appendChild(el);
                }
            }
        });
    }

    function deleteInst(id) {
        $.ajax({
            url: '/autocops/inst-configs-mappings/' + id,
            type: 'DELETE',
            success: function (result) {
                window.location.reload();
            }
        });
    }
    function navInstitutions() {
        $.ajax({
            url: "/autocops/institutions/page",
            type: 'GET',
            success: function (res) {
                window.location.href = "/autocops/institutions/page";
                document.getElementById("institutions").classList.add('active');
            }
        });
    }
    function navConfigurations() {
        var queryString = window.location.href;
        const words = queryString.split('/');
        var configId = words[words.length - 2];
        $.ajax({
            url: "/autocops/inst-configs/page/" + configId,
            type: 'GET',
            success: function (res) {
                window.location.href = "/autocops/inst-configs/page/" + configId;
                document.getElementById("institutions").classList.add('active');
            }
        });
    }

    $(document).ready(function () {
        var import_type = configuration.import_File_format.format_type;
        if(import_type === "Excel" || import_type === "CSV"){
            document.getElementById("import_index").disabled = false;
            document.getElementById("import").value = document.getElementById("import").defaultValue;
            document.getElementById("import").disabled = true;
            document.getElementById("start_index").value = document.getElementById("start_index").defaultValue;
            document.getElementById("start_index").disabled = true;
            document.getElementById("last_index").value = document.getElementById("last_index").defaultValue;
            document.getElementById("last_index").disabled = true;
        }
        else{
            document.getElementById("import").disabled = false;
            document.getElementById("import_index").value = document.getElementById("import_index").defaultValue;
            document.getElementById("import_index").disabled = true;
            document.getElementById("start_index").value = document.getElementById("start_index").defaultValue;
            document.getElementById("start_index").disabled = true;
            document.getElementById("last_index").value = document.getElementById("last_index").defaultValue;
            document.getElementById("last_index").disabled = true;
        }
    });

    function disableUpdate (id) {
        var strUser = configuration.import_File_format.format_type;
        if(strUser === "Excel" || strUser === "CSV"){
            document.getElementById('import_index_update'+id).disabled = false;
            document.getElementById('import_update'+id).value = document.getElementById('import_update'+id).defaultValue;
            document.getElementById('import_update'+id).disabled = true;
            document.getElementById("start_index_update"+id).value = document.getElementById("start_index_update"+id).defaultValue;
            document.getElementById("start_index_update"+id).disabled = true;
            document.getElementById("last_index_update"+id).value = document.getElementById("last_index_update"+id).defaultValue;
            document.getElementById("last_index_update"+id).disabled = true;
        }
        else{
            document.getElementById('import_update'+id).disabled = false;
            document.getElementById('import_index_update'+id).value = document.getElementById('import_index_update'+id).defaultValue;
            document.getElementById('import_index_update'+id).disabled = true;
            document.getElementById("start_index_update"+id).value = document.getElementById("start_index_update"+id).defaultValue;
            document.getElementById("start_index_update"+id).disabled = true;
            document.getElementById("last_index_update"+id).value = document.getElementById("last_index_update"+id).defaultValue;
            document.getElementById("last_index_update"+id).disabled = true;
        }
    }


    /*]]>*/

</script>
</body>
</html>