<!DOCTYPE html>
<html class="notranslate" lang="en" translate="no" xmlns:th="http://www.thymeleaf.org">
<div th:insert="layout :: header"></div>
<body class="alt-menu sidebar-noneoverflow">
<!-- BEGIN LOADER -->
<div id="load_screen">
    <div class="loader">
        <div class="loader-content">
            <div class="spinner-grow align-self-center"></div>
        </div>
    </div>
</div>
<!--  END LOADER -->

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <div th:insert="layout :: topbar"></div>

    <!--  BEGIN CONTENT PART  -->
    <div class="main-content" id="content">
        <div class="layout-px-spacing">
            <br><br>
            <div id="tableHover">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <br>
                                <h4> <a onclick="navInstitutions()" style="cursor: pointer;">Institution : </a> <small th:text="${inst.inst_name}"></small> →
                                    <a onclick="navConfigurations()" style="cursor: pointer;">Configuration : </a> <small th:text="${config.service.service_name}"></small> →
                                    Mappings
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover mb-4" id="inst_table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Required Mapping</th>
                                    <th>Import Field Index</th>
                                    <th>Import Field Type</th>
                                    <th>Import Field Name</th>
                                    <th>Export Field Name</th>
                                    <th>Start Index</th>
                                    <th>Last Index</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="mapping : ${mappings}">
                                    <tr th:attr="id=${mapping.id}">
                                        <td th:attr="data-element-id=${mapping.id}" th:text="${mapping.id}"></td>
                                        <td th:attr="id=${'table_required' + mapping.id}" th:text="${mapping.required}"></td>
                                        <td th:attr="id=${'table_import_index' + mapping.id}" th:text="${mapping.import_field_index}"></td>
                                        <td th:attr="id=${'table_import_type' + mapping.id}" th:text="${mapping.import_field_type}"></td>
                                        <td th:attr="id=${'table_import_name' + mapping.id}" th:text="${mapping?.import_field?.field_name}"></td>
                                        <td th:attr="id=${'table_export_name' + mapping.id}" th:text="${mapping.export_field_head.field_name}"></td>
                                        <td th:attr="id=${'table_start_index' + mapping.id}" th:text="${mapping.start_index}"></td>
                                        <td th:attr="id=${'table_last_index' + mapping.id}" th:text="${mapping.last_index}"></td>

                                        <td>
                                            <button class="btn btn-danger"  data-row="${mapping}"
                                                    data-toggle="modal"
                                                    th:attr="data-target=${'#deleteModal'+mapping.id}">Delete
                                            </button>
                                            <button class="btn btn-primary" data-row="${mapping}"
                                                    data-toggle="modal"
                                                    th:attr="data-target=${'#editModal'}"
                                                    onclick="multiple($(this).attr('data-mapping-id'))"
                                                    th:data-mapping-id="${mapping.id}">Update
                                            </button>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <h6>Add New Institution Configuration Mapping</h6>
            <input class="mb-4 btn btn-primary" data-target="#myModal" data-toggle="modal" name="newConfiguration"
                   type="submit" value="New Configuration Mapping">
            <br><br><br>

            <div th:insert="layout :: footer"></div>

        </div>
    </div>
    <!--  END CONTENT PART  -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-xl">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Choose Configuration Mapping Details</h4>
                </div>
                <div class="modal-body">
<!--                    <div hidden id="configError" style="color: red;margin: 10px 10px 20px 10px;"-->
<!--                         th:text="#{CONFIG_ERROR}"></div>-->
                    <div class="container">
                        <form>
                            <div class="form-row mb-4">
                                <div class="col-4" style="margin-top:10px;">
                                    <h5> <a id="required_des" data-container='#myModal' data-toggle="popover" data-content="Explanation">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle">
                                            <circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12" y2="17"></line>
                                        </svg>
                                    </a>Required Mapping</h5>
                                    <select class="form-control form-small" id="required_dropdown">
                                        <option selected="selected">--- Required ---</option>
                                        <option value="true">True</option>
                                        <option value="false">False</option>
                                    </select>
                                </div>
                                <div class="col-4" style="margin-top:10px;">
                                    <h5><a id="field_index" data-container='#myModal' data-toggle="popover" data-content="Explanation">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle">
                                            <circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12" y2="17"></line>
                                        </svg>
                                    </a>Field Index</h5>
                                    <input class="form-control" id="import_index" placeholder="Import Field Index"
                                           type="text">
                                </div>
                                <div class="col-4" style="margin-top:10px;">
                                    <h5><a id="field_type" data-container='#myModal' data-toggle="popover" data-content="Explanation">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle">
                                            <circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12" y2="17"></line>
                                        </svg>
                                    </a>Import Field Type</h5>
                                    <select class="form-control form-small" id="type">
                                        <option selected="selected">--- Import Field Type ---</option>
                                        <option value="String">String</option>
                                        <option value="Number">Number</option>
                                        <option value="Date">Date</option>

                                    </select>
                                </div>
                                <div class="col-4" style="margin-top:10px;">
                                    <h5><a id="field_name" data-container='#myModal' data-toggle="popover" data-content="Explanation">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle">
                                            <circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12" y2="17"></line>
                                        </svg>
                                    </a>Import Field Name</h5>
                                    <select class="form-control form-small" id="import">
                                        <option selected="selected" value="">--- Import Field ---</option>
                                        <th:block th:each="field : ${importFields}">
                                            <option th:text="${field.field_name}"
                                                    th:value="${field.id}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="col-4" style="margin-top:10px;">
                                    <h5><a id="export_name" data-container='#myModal' data-toggle="popover" data-content="Explanation">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle">
                                            <circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12" y2="17"></line>
                                        </svg>
                                    </a>Export Field Name</h5>
                                    <select class="form-control form-small" id="export">
                                        <option selected="selected">--- Export Field ---</option>
                                        <th:block th:each="field : ${exportFields}">
                                            <option th:text="${field.field_name}"
                                                    th:value="${field.id}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="col-4" style="margin-top:10px;">
                                    <h5><a id="index_start" data-container='#myModal' data-toggle="popover" data-content="Explanation">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle">
                                            <circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12" y2="17"></line>
                                        </svg>
                                    </a>Start Index</h5>
                                    <input class="form-control" id="start_index" placeholder="Start Index"
                                           type="text">
                                </div>
                                <div class="col-4" style="margin-top:10px;">
                                    <h5><a id="index_last" data-container='#myModal' data-toggle="popover" data-content="Explanation">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle">
                                            <circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12" y2="17"></line>
                                        </svg>
                                    </a>Last Index</h5>
                                    <input class="form-control" id="last_index" placeholder="Last Index"
                                           type="text">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" onclick="createInstitutionConfigMapping()"
                            type="submit">Save
                    </button>
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Update Modal -->
    <div aria-hidden="true" class="modal fade" role="dialog" tabindex="-1" id="editModal">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-body"> You are about to edit mapping with id : <span id="modal_id"></span>
                        <div class="container">
                            <form>
                                <div class="form-row mb-4">
                                    <div class="col-4" style="margin-top:10px;">
                                        <h5><a id="des_required" data-container='#editModal' data-toggle="popover" data-content="Explanation">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle">
                                                <circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12" y2="17"></line>
                                            </svg>
                                        </a>Required Mapping</h5>
                                        <select class="form-control form-small" id="modal_required" value="">
                                            <option value="true">True</option>
                                            <option value="false">False</option>
                                        </select>
                                    </div>
                                    <div class="col-4" style="margin-top:10px;">
                                        <h5><a id="import_index_des" data-container='#editModal' data-toggle="popover" data-content="Explanation">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle">
                                                <circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12" y2="17"></line>
                                            </svg>
                                        </a>Import Field Index</h5>
                                        <input class="form-control" id="modal_import_index" value="" type="text">
                                    </div>
                                    <div class="col-4" style="margin-top:10px;">
                                        <h5><a id="import_type_des" data-container='#editModal' data-toggle="popover" data-content="Explanation">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle">
                                                <circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12" y2="17"></line>
                                            </svg>
                                        </a>Import Field Type</h5>
                                        <select class="form-control form-small" id="modal_import_type" value="">
                                            <option value="Number">Number</option>
                                            <option value="String">String</option>
                                            <option value="Date">Date</option>
                                        </select>
                                    </div>
                                    <div class="col-4" style="margin-top:10px;">
                                        <h5><a id="import_field_des" data-container='#editModal' data-toggle="popover" data-content="Explanation">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle">
                                                <circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12" y2="17"></line>
                                            </svg>
                                        </a>Import Field Name</h5>
                                        <select class="form-control form-small" value="" id="modal_import_name"></select>
                                    </div>
                                    <div class="col-4" style="margin-top:10px;">
                                        <h5><a id="export_field_des" data-container='#editModal' data-toggle="popover" data-content="Explanation">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle">
                                                <circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12" y2="17"></line>
                                            </svg>
                                        </a>Export Field Name</h5>
                                        <select class="form-control form-small" value="" id="modal_export_name"></select>
                                    </div>
                                    <div class="col-4" style="margin-top:10px;">
                                        <h5><a id="start_index_des" data-container='#editModal' data-toggle="popover" data-content="Explanation">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle">
                                                <circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12" y2="17"></line>
                                            </svg>
                                        </a>Start Index</h5>
                                        <input class="form-control" id="modal_start_index" value="" type="text">
                                    </div>
                                    <div class="col-4" style="margin-top:10px;">
                                        <h5><a id="last_index_des" data-container='#editModal' data-toggle="popover" data-content="Explanation">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle">
                                                <circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12" y2="17"></line>
                                            </svg>
                                        </a>Last Index</h5>
                                        <input class="form-control" id="modal_last_index" value="" type="text">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
                        <button class="btn btn-primary" onclick="update($(this).attr('data-id'))" type="button" id="updateBtnId">Save Changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div aria-hidden="true" class="modal fade" role="alert" tabindex="-1" th:attr="id=${'deleteModal' + mapping.id}"
         th:each="mapping : ${mappings}">
        <div class="modal-dialog" role="alert">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <h5>Are you sure you want to delete ?!</h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" onclick="deleteInst($(this).attr('data-mapping-id'))"
                            th:data-mapping-id="${mapping.id}" type="button">Delete
                    </button>
                    <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- END MAIN CONTAINER -->

<div th:insert="layout :: scripts"></div>
<script th:inline="javascript">
    /*<![CDATA[*/

    var configuration = [[${config}]];
    var export_fields = [[${exportFields}]];
    var import_fields = [[${importFields}]];

    function multiple (id) {
        populateUpdateModal(id);
        disableUpdate(id);
    }

    function populateUpdateModal (id) {
        let row = document.getElementById(id);
        var mapping_id = row.childNodes[1].textContent;
        var import_index = $("#table_import_index"+id).text();
        var import_type = $("#table_import_type"+id).text();
        var import_name = $("#table_import_name"+id).text();
        var export_name = $("#table_export_name"+id).text();
        var start_index = $("#table_start_index"+id).text();
        var last_index = $("#table_last_index"+id).text();
        var req = $("#table_required"+id).text();
        var isTrueSet = false;
        var other = true;
        if (req === 'true'){
            isTrueSet = true;
            other = false;
        }

        document.getElementById("modal_id").textContent = mapping_id;
        $("#updateBtnId").attr("data-id",mapping_id)
        document.getElementById("modal_import_index").value = import_index;
        document.getElementById("modal_start_index").value = start_index;
        document.getElementById("modal_last_index").value = last_index;
        document.getElementById("modal_export_name").textContent = export_name;
        var export_name_select = document.getElementById("modal_export_name");
        export_name_select.options.length = 0;
        var selected =  document.createElement("selected");
        for ( var i = 0 ; i < export_fields.length ; i++ ) {
            var opt = export_fields[i];
            var el = document.createElement("option");
            el.textContent = opt.field_name;
            el.value = opt.id;
            export_name_select.appendChild(el);
            if (opt.field_name === export_name) {
                selected.textContent = opt.field_name;
                selected.value = opt.id;
            }}
        export_name_select.selected = selected.textContent;
        export_name_select.value = selected.value;
        var required_dropdown = document.getElementById("modal_required");
        required_dropdown.value = isTrueSet;
        var import_name_select = document.getElementById("modal_import_name");
        import_name_select.options.length = 0;
        var selected_import =  document.createElement("selected_import");
        for ( var i = 0 ; i < import_fields.length ; i++ ) {
            var opt = import_fields[i];
            var el = document.createElement("option");
            el.textContent = opt.field_name;
            el.value = opt.id;
            import_name_select.appendChild(el);
            if (opt.field_name === import_name) {
                selected_import.textContent = opt.field_name;
                selected_import.value = opt.id;
            }}
        import_name_select.selected = selected_import.textContent;
        import_name_select.value = selected_import.value;
        var import_type_select = document.getElementById("modal_import_type");
        import_type_select.selected = import_type;
        import_type_select.value = import_type;
    }

    function createInstitutionConfigMapping() {
        var queryString = window.location.href;
        const words = queryString.split('/');
        var institution = {};
        institution.configId = words[words.length - 1];
        institution.imp_field_index = $("#import_index").val();
        institution.type = $("#type").val();
        institution.imp_field = $("#import").val();
        institution.exp_field = $("#export").val();
        institution.start_index = $("#start_index").val();
        institution.last_index = $("#last_index").val();
        institution.required = $("#required_dropdown").val();
        $.ajax({
            type: 'post',
            url: '/autocops/inst-configs-mappings',
            data: jQuery.param(institution),
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success: function () {
                location.reload();
            }
        });
    }

    function update(id) {
        console.log(id)
        var queryString = window.location.href;
        const words = queryString.split('/');
        var institution = {};
        institution.configId = words[words.length - 1];
        institution.imp_field_index = $("#modal_import_index").val();
        institution.type = $("#modal_import_type").val();
        institution.imp_field = $("#modal_import_name").val();
        institution.exp_field = $("#modal_export_name").val();
        institution.start_index = $("#modal_start_index").val();
        institution.last_index = $("#modal_last_index").val();
        institution.required = $("#modal_required").val();
        $.ajax({
            type: 'put',
            url: '/autocops/inst-configs-mappings/' + id,
            data: jQuery.param(institution),
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success: function () {
                location.reload();
            }
        });
    }

    function deleteInst(id) {
        $.ajax({
            url: '/autocops/inst-configs-mappings/' + id,
            type: 'DELETE',
            success: function (result) {
                window.location.reload();
            }
        });
    }
    function navInstitutions() {
        $.ajax({
            url: "/autocops/institutions/page",
            type: 'GET',
            success: function (res) {
                window.location.href = "/autocops/institutions/page";
                document.getElementById("institutions").classList.add('active');
            }
        });
    }
    function navConfigurations() {
        var queryString = window.location.href;
        const words = queryString.split('/');
        var configId = words[words.length - 2];
        $.ajax({
            url: "/autocops/inst-configs/page/" + configId,
            type: 'GET',
            success: function (res) {
                window.location.href = "/autocops/inst-configs/page/" + configId;
                document.getElementById("institutions").classList.add('active');
            }
        });
    }

    $(document).ready(function () {
        var import_type = configuration.import_File_format;
        if(import_type === "Excel" || import_type === "CSV"){
            document.getElementById("import_index").disabled = false;
            document.getElementById("import").disabled = true;
            document.getElementById("start_index").disabled = true;
            document.getElementById("last_index").disabled = true;
        }
        else {
            if (import_type === "XML") {
                document.getElementById("import").disabled = false;
                document.getElementById("import_index").disabled = true;
                document.getElementById("start_index").disabled = true;
                document.getElementById("last_index").disabled = true;
            }
            else {
                document.getElementById("start_index").disabled = false;
                document.getElementById("last_index").disabled = false;
                document.getElementById("import").disabled = true;
                document.getElementById("import_index").disabled = true;
            }
        }
    });

    function disableUpdate (id) {
        var strUser = configuration.import_File_format;
        if(strUser === "Excel" || strUser === "CSV"){
            document.getElementById('modal_import_index').disabled = false;
            document.getElementById('modal_import_name').disabled = true;
            document.getElementById("modal_start_index").disabled = true;
            document.getElementById("modal_last_index").disabled = true;
        }
        else{
            if (strUser === "XML") {
                document.getElementById('modal_import_name').disabled = false;
                document.getElementById('modal_import_index').disabled = true;
                document.getElementById("modal_start_index").disabled = true;
                document.getElementById("modal_last_index").disabled = true;
            }
            else {
                    document.getElementById("modal_start_index").disabled = false;
                    document.getElementById("modal_last_index").disabled = false;
                    document.getElementById("modal_import_name").disabled = true;
                    document.getElementById("modal_import_index").disabled = true;
                }
        }
    }

    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });

    $(document).ready(function () {
        $.ajax({
            url: "/autocops/field-descriptions",
            type: 'GET',
            success: function (res) {
                console.log(res)
                for ( var i = 0 ; i < res.length ; i++ ) {
                   if (res[i].field_name === 'Last Index') {
                       document.getElementById("last_index_des").setAttribute('data-content', res[i].description);
                       document.getElementById("index_last").setAttribute('data-content', res[i].description);
                   }
                    if (res[i].field_name === 'Start Index') {
                        document.getElementById("start_index_des").setAttribute('data-content', res[i].description);
                        document.getElementById("index_start").setAttribute('data-content', res[i].description);
                    }
                    if (res[i].field_name === 'Export Field Name') {
                        document.getElementById("export_field_des").setAttribute('data-content', res[i].description);
                        document.getElementById("export_name").setAttribute('data-content', res[i].description);
                    }
                    if (res[i].field_name === 'Import Field Name') {
                        document.getElementById("import_field_des").setAttribute('data-content', res[i].description);
                        document.getElementById("field_name").setAttribute('data-content', res[i].description);
                    }
                    if (res[i].field_name === 'Import Field Type') {
                        document.getElementById("field_type").setAttribute('data-content', res[i].description);
                        document.getElementById("import_type_des").setAttribute('data-content', res[i].description);
                    }
                    if (res[i].field_name === 'Import Field Index') {
                        document.getElementById("import_index_des").setAttribute('data-content', res[i].description);
                        document.getElementById("field_index").setAttribute('data-content', res[i].description);
                    }
                    if (res[i].field_name === 'Required Mapping') {
                        document.getElementById("required_des").setAttribute('data-content', res[i].description);
                        document.getElementById("des_required").setAttribute('data-content', res[i].description);
                    }
                }}});
    });

    /*]]>*/

</script>
</body>
</html>