<!DOCTYPE html>
<html class="notranslate" lang="en" translate="no" xmlns:th="http://www.thymeleaf.org">
<div th:insert="layout :: header"></div>
<body class="alt-menu sidebar-noneoverflow">
<!-- BEGIN LOADER -->
<div id="load_screen">
    <div class="loader">
        <div class="loader-content">
            <div class="spinner-grow align-self-center"></div>
        </div>
    </div>
</div>
<!--  END LOADER -->

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <div th:insert="layout :: topbar"></div>

    <!--  BEGIN CONTENT PART  -->
    <div class="main-content" id="content">
        <div class="layout-px-spacing">
            <br><br>
            <div id="tableHover">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <br>
                                <h4> Institutions</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover mb-4" id="inst_table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Actions</th>
                                </tr>
                                <th:block th:each="institution : ${institutions}">
                                    <tr>
                                        <td th:text="${institution.inst_id}"></td>
                                        <td th:text="${institution.inst_name}"></td>
                                        <td>
                                            <button class="btn btn-danger"  data-row="${institution}"
                                                    data-toggle="modal"
                                                    th:attr="data-target=${'#deleteModal'+institution.inst_id}">Delete
                                            </button>
                                            <button class="btn btn-primary"
                                                    onclick="goToConfigs($(this).attr('data-inst-id'))"
                                                    th:data-inst-id="${institution.inst_id}">Configurations
                                            </button>
                                            <button class="btn btn-primary" data-row="${institution}"
                                                    data-toggle="modal"
                                                    th:attr="data-target=${'#editModal'+institution.inst_id}">Update
                                            </button>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <h6>Add New Institution</h6>
            <input class="mb-4 btn btn-primary" data-target="#myModal" data-toggle="modal" name="newConfiguration"
                   type="submit" value="New Institution">
            <br><br><br>
            <div th:insert="layout :: footer"></div>
        </div>
    </div>
    <!--  END CONTENT PART  -->


    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-xl">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Choose Institution Details</h4>
                </div>
                <div class="modal-body">
                    <div hidden id="configError" style="color: red;margin: 10px 10px 20px 10px;"
                         th:text="#{CONFIG_ERROR}"></div>
                    <div class="container">
                        <form>
                            <div class="form-row mb-6">

                                <div class="col-6" style="margin-top:10px;">
                                    <h5>Institution ID</h5>
                                    <input class="form-control" id="instId" placeholder="Institution ID"
                                           type="text">
                                </div>
                                <div class="col-6" style="margin-top:10px;">
                                    <h5> Institution Name</h5>
                                    <input class="form-control" id="instName" placeholder="Institution Name"
                                           type="text">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" onclick="createInstitution()"
                            type="submit">Save
                    </button>
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Update Modal -->
    <div aria-hidden="true" class="modal fade" role="dialog" tabindex="-1" th:attr="id=${'editModal' + institution.inst_id}"
         th:each="institution : ${institutions}">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-body"> You are about to edit institution :
                        <div th:text="${institution.inst_name}"/>
                        <div class="container">
                            <form>
                                <div class="form-row mb-12">

                                    <div class="col-12" style="margin-top:10px;">
                                        <h5>Institution Name</h5>
                                        <input class="form-control"
                                               th:attr="id=${'institution_name_update' + institution.inst_id}"
                                               th:value="${institution.inst_name}"
                                               type="text">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
                        <button class="btn btn-primary" onclick="update($(this).attr('data-institution-id'))"
                                th:data-institution-id="${institution.inst_id}" type="button">Save Changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div aria-hidden="true" class="modal fade" role="alert" tabindex="-1" th:attr="id=${'deleteModal' + institution.inst_id}"
         th:each="institution : ${institutions}">
        <div class="modal-dialog" role="alert">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <h5>Are you sure you want to delete ?!</h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" onclick="deleteInst($(this).attr('data-mapping-id'))"
                            th:data-mapping-id="${institution.inst_id}" type="button">Delete
                    </button>
                    <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- END MAIN CONTAINER -->
<div th:insert="layout :: scripts"></div>
<script>
    function createInstitution() {
        var inst_Id = $("#instId").val();
        var inst_Name = $("#instName").val();
        var institution = {};
        institution.inst_id = inst_Id;
        institution.inst_name = inst_Name;
        $.ajax({
            type: 'post',
            url: '/autocops/institutions',
            data: JSON.stringify(institution),
            contentType: "application/json; charset=utf-8",
            traditional: true,
            success: function (res) {
                window.location.reload();
            }
        });
    }


    function goToConfigs(instId) {
        $.ajax({
            url: "/autocops/inst-configs/page/" + instId,
            type: 'GET',
            success: function (res) {
                window.location.href = "/autocops/inst-configs/page/" + instId;
            }
        });
    }

    function update(id) {

        var instId = id;
        var instName = $("#institution_name_update" + id).val();
        var institution = {};
        institution.inst_name = instName;
        $.ajax({
            type: 'put',
            url: '/autocops/institutions/' + instId,
            data: JSON.stringify(institution),
            contentType: "application/json; charset=utf-8",
            traditional: true,
            success: function (res) {
                window.location.reload();
            }
        });
    }

    function deleteInst(id) {
        $.ajax({
            url: '/autocops/institutions/' + id,
            type: 'DELETE',
            success: function (result) {
                window.location.reload();
            }
        });
    }
</script>
<!-- END PAGE LEVEL CUSTOM SCRIPTS -->
</body>
</html>