<!DOCTYPE html>
<html class="notranslate" lang="en" translate="no" xmlns:th="http://www.thymeleaf.org">
<!--<div class="nmhjgfdsa"></div>-->
<div th:insert="layout :: header"></div>
<body class="alt-menu sidebar-noneoverflow">


<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

    <div th:insert="layout :: topbar"></div>

    <!--  BEGIN CONTENT PART  -->
    <div class="main-content" id="content">
        <div class="layout-px-spacing">
            <br><br>
            <div id="tableHover">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <br>
                                <h4> Institution Configurations</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover mb-4" id="inst_table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Data Start Line</th>
                                    <th>Import Format</th>
                                    <th>export Format</th>
                                    <th>Fail On Error</th>
                                    <th>Active</th>
                                    <th>Service</th>
                                    <th>Import Path</th>
                                    <th>Export Path</th>
                                    <th width="500">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="config : ${configs}">
                                    <tr>
                                        <td th:text="${config.id}"></td>
                                        <td th:text="${config.reading_line}"></td>
                                        <td th:text="${config.getImport_File_format.format_type}"></td>
                                        <td th:text="${config.getExport_File_format.format_type}"></td>
                                        <td th:text="${config.fail_on_error}"></td>
                                        <td th:text="${config.active}"></td>
                                        <td th:text="${config.service.service_name}"></td>
                                        <td th:text="${config.import_path}"></td>
                                        <td th:text="${config.export_path}"></td>
                                        <td>
                                            <button class="btn btn-danger"
                                                    onclick="deleteInst($(this).attr('data-config-id'))"
                                                    th:data-config-id="${config.id}">Delete
                                            </button>
                                            <button class="btn btn-primary" data-row="${config}"
                                                    data-toggle="modal"
                                                    th:attr="data-target=${'#editModal'+config.id}">Update
                                            </button>
                                            <button class="btn btn-primary"
                                                    onclick="redirectMappings($(this).attr('data-config-id'))"
                                                    th:data-config-id="${config.id}">Mappings
                                            </button>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <h6>Add New Institution Configuration</h6>
            <input class="mb-4 btn btn-primary" data-target="#myModal" data-toggle="modal" name="newConfiguration"
                   type="submit" value="New Configuration">
            <br><br><br>

            <div th:insert="layout :: footer"></div>

        </div>
    </div>
    <!--  END CONTENT PART  -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-xl">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Choose Configuration Details</h4>
                </div>
                <div class="modal-body">
                    <!--                    <div hidden id="configError" style="color: red;margin: 10px 10px 20px 10px;"-->
                    <!--                         th:text="#{CONFIG_ERROR}"></div>-->
                    <div class="container">
                        <form>
                            <div class="form-row mb-4">
                                <div class="col-4">
                                    <select class="form-control form-small" id="serviceDropdown">
                                        <option selected="selected">--- Service ---</option>
                                        <th:block th:each="service : ${availableServices}">
                                            <option th:text="${service.service_name}"
                                                    th:value="${service.service_id}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <input class="form-control" id="reading_line" placeholder="--- Data Start Line ---"
                                           type="text">
                                </div>
                                <div class="col-4">
                                    <select class="form-control form-small" id="inputFormatDropdown">
                                        <option selected="selected">--- Import Format ---</option>
                                        <th:block th:each="fileFormat : ${formats}">
                                            <option th:text="${fileFormat.format_type}"
                                                    th:value="${fileFormat.format_id}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="col-4" style="margin-top:10px;">
                                    <select class="form-control form-small" id="outputFormatDropdown">
                                        <option selected="selected">--- Export Format ---</option>
                                        <th:block th:each="fileFormat : ${formats}">
                                            <option th:text="${fileFormat.format_type}"
                                                    th:value="${fileFormat.format_id}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <br><br>
                                <div class="col-4" style="margin-top:10px;">
                                    <select class="form-control form-small" id="failDropdown">
                                        <option selected="selected">--- Fail On Error ---</option>
                                        <option value="true">True</option>
                                        <option value="false">False</option>
                                    </select>
                                </div>
                                <div class="col-4" style="margin-top:10px;">
                                    <select class="form-control form-small" id="activeDropdown">
                                        <option selected="selected">--- Active ---</option>
                                        <option value="true">True</option>
                                        <option value="false">False</option>
                                    </select>
                                </div>
                                <div class="col-4" style="margin-top:10px;">
                                    <input class="form-control" id="import_path" placeholder="--- Import Path ---"
                                           type="text">
                                </div>
                                <div class="col-4" style="margin-top:10px;">
                                    <input class="form-control" id="export_path" placeholder="--- Export Path ---"
                                           type="text">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" onclick="createInstitutionConfig()"
                            type="submit">Save
                    </button>
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>

        </div>
    </div>


    <!-- Update Modal -->
    <div aria-hidden="true" class="modal fade" role="dialog" tabindex="-1" th:attr="id=${'editModal' + config.id}"
         th:each="config : ${configs}">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-body"> You are about to edit configuration with id :
                        <h6 th:text="${config.id}"/>
                        <br>
                        <div class="container">
                            <form>
                                <div class="form-row mb-4">
                                    <div class="col-4">
                                        <h5>Service Type</h5>
                                        <select class="form-control form-small"
                                                th:attr="id=${'serTypeUpdate' +config.id}">
                                            <option th:selected="${config.service.service_name}"
                                                    th:text="${config.service.service_name}"
                                                    th:value="${config.service.service_id}"></option>
                                            <th:block th:each="service : ${availableServices}">
                                                <option th:text="${service.service_name}"
                                                        th:value="${service.service_id}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <h5>Data Start Line</h5>
                                        <input class="form-control" th:attr="id=${'reading_line_update' + config.id}"
                                               th:value="${config.reading_line}"
                                               type="text">
                                    </div>
                                    <div class="col-4">
                                        <h5>Import Format Type</h5>
                                        <select class="form-control form-small"
                                                th:attr="id=${'serImportUpdate' +config.id}">
                                            <option th:selected="${config.getImport_File_format.format_type}"
                                                    th:text="${config.getImport_File_format.format_type}"
                                                    th:value="${config.getImport_File_format.format_id}"></option>
                                            <th:block th:each="fileFormat : ${formats}">
                                                <option th:text="${fileFormat.format_type}"
                                                        th:value="${fileFormat.format_id}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                    <div class="col-4" style="margin-top:10px;">
                                        <h5>Export Format Type</h5>
                                        <select class="form-control form-small"
                                                th:attr="id=${'serExportUpdate' +config.id}">
                                            <option th:selected="${config.getExport_File_format.format_type}"
                                                    th:text="${config.getExport_File_format.format_type}"
                                                    th:value="${config.getExport_File_format.format_id}"></option>
                                            <th:block th:each="fileFormat : ${formats}">
                                                <option th:text="${fileFormat.format_type}"
                                                        th:value="${fileFormat.format_id}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                    <div class="col-4" style="margin-top:10px;">
                                        <h5>Fail On Error</h5>
                                        <select class="form-control form-small" th:attr="id=${'failUpdate' +config.id}">
                                            <option th:selected="${config.fail_on_error}"
                                                    th:text="${config.fail_on_error}"
                                                    th:value="${config.fail_on_error}"></option>
                                            <option th:text="${!config.fail_on_error}"
                                                    th:value="${!config.fail_on_error}"></option>
                                        </select>
                                    </div>
                                    <div class="col-4" style="margin-top:10px;">
                                        <h5>Active</h5>
                                        <select class="form-control form-small"
                                                th:attr="id=${'activeUpdate' +config.id}">
                                            <option th:selected="${config.active}" th:text="${config.active}"
                                                    th:value="${config.active}"></option>
                                            <option th:text="${!config.active}" th:value="${!config.active}"></option>
                                        </select>
                                    </div>
                                    <div class="col-4" style="margin-top:10px;">
                                        <h5>Import Path</h5>
                                        <input class="form-control" th:attr="id=${'import_path_update' + config.id}"
                                               th:value="${config.import_path}"
                                               type="text">
                                    </div>
                                    <div class="col-4" style="margin-top:10px;">
                                        <h5>Export Path</h5>
                                        <input class="form-control" th:attr="id=${'export_path_update' + config.id}"
                                               th:value="${config.export_path}"
                                               type="text">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
                        <button class="btn btn-primary" onclick="update($(this).attr('data-mapping-id'))"
                                th:data-mapping-id="${config.id}" type="button">Save Changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- END MAIN CONTAINER -->

<div th:insert="layout :: scripts"></div>
<script th:inline="javascript">
    function createInstitutionConfig() {
        var queryString = window.location.href;
        const words = queryString.split('/');
        var instId = words[words.length - 1];
        var institution = {};
        institution.reading_line = $("#reading_line").val();
        institution.import_format = $("#inputFormatDropdown").val();
        institution.export_format = $("#outputFormatDropdown").val();
        institution.fail_on_error = $("#failDropdown").val();
        institution.active = $("#activeDropdown").val();
        institution.service_id = $("#serviceDropdown").val();
        institution.import_path = $("#import_path").val();
        institution.export_path = $("#export_path").val();
        $.ajax({
            type: 'post',
            url: '/autocops/inst-configs/' + instId,
            data: jQuery.param(institution),
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success: function () {
                window.location.reload();
            }
        });
    }

    function update(id) {
        var institution = {};
        institution.reading_line = $("#reading_line_update" + id).val();
        institution.import_format = $("#serImportUpdate" + id).val();
        institution.export_format = $("#serExportUpdate" + id).val();
        institution.fail_on_error = $("#failUpdate" + id).val();
        institution.active = $("#activeUpdate" + id).val();
        institution.service_id = $("#serTypeUpdate" + id).val();
        institution.import_path = $("#import_path_update" + id).val();
        institution.export_path = $("#export_path_update" + id).val();
        $.ajax({
            type: 'put',
            url: '/autocops/inst-configs/' + id,
            data: jQuery.param(institution),
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success: function () {
                window.location.reload();
            }
        });
    }

    function deleteInst(id) {
        $.ajax({
            url: '/autocops/inst-configs/' + id,
            type: 'DELETE',
            success: function (result) {
                window.location.reload();
            }
        });
    }

    function redirectMappings(id) {
        var queryString = window.location.href;
        const words = queryString.split('/');
        var instId = words[words.length - 1];
        $.ajax({
            url: "/autocops/inst-configs-mappings/page/" + instId + "/" + id,
            type: 'GET',
            success: function (res) {
                window.location.href = "/autocops/inst-configs-mappings/page/" + instId + "/" + id;
            }
        });
    }

</script>
</body>
</html>